.app {
  min-height: 100vh; /* l'elemento deve essere alto almeno quanto tutta la finestra del browser */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.game-row {
  display: flex;
  gap: 5px;
}

.letter-box {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;

  display: flex; /* trasforma ogni casella in un flex container  */
  align-items: center; /* centriamo verticalmente il contentuto */
  justify-content: center;  /* centriamo orizzontalmente il contentuto */

  font-size: 32px; /* grandezza lettere */
  font-weight: bold;
  text-transform: uppercase;
}

.letter-box.correct {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}

.letter-box.present {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.letter-box.absent {
  background-color: #787c7e;
  color: white;
  border-color: #787c7e;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.keyboard-key {
  min-width: 50px;
  height: 50px;
  padding: 0 12px;

  border: none;
  border-radius: 5px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
}

.keyboard-row:last-child .keyboard-key {
  min-width: 100px;
}

.keyboard-key.correct {
  background-color: #6aaa64;
  color: white;
}

.keyboard-key.present {
  background-color: #c9b458;
  color: white;
}

.keyboard-key.absent {
  background-color: #787c7e;
  color: white;
}