.game-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.game-row {
  display: flex;
  gap: 5px;
}

.letter-box {
  width: 60px;
  height: 60px;
  border: 2px solid black;
}